* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.partners {
  padding: 20px;
  margin: 30px;
  box-sizing: border-box;
  border: 1px solid white;
}

h1 {
  font-size: 40px;
  text-align: center;
}
.part h3 {
  font-size: 30px;
  padding: 10px;
  color: rgb(39, 38, 38);
}
.part p {
  font-size: 20px;
  color: rgb(109, 106, 106);
  line-height: 20px;
  padding: 5px;
}
