@font-face{
    font-family: "Grold-Regular";
    src:url(./Font/Grold-Regular.ttf)
  }
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Grold-Regular";
}

 .pro h1{
    padding-left: 100px;
    line-height: 60px;
    font-size: 35px;
    color:rgb(54, 50, 50);
    
 }
 .pro h2{
    line-height: 50px;
    padding-left: 100px;
    text-align: start;
    color: rgb(75, 70, 70);
    font-size: 30px;
 }
 .pro p{
  
    padding-left: 130px;
    font-size: 25px;
    color: rgb(54, 50, 50);
    
 }
 .pro h4{
    padding-left: 230px;
    font-size: 25px;
    line-height: 150px;
    color: rgb(54, 50, 50);

 }
 img{
    width: 20px;
    left: 50px;
 }
 
@media(max-width:480px){
   .pro h1{
      font-size: 30px;
   }
}